<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/home_style.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="/static/js/home_script.js" defer></script>
    <link rel="icon" type="image/x-icon" href="/static/img/logo.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title id="main"></title>
</head>
<body>
    <div class="menu-box">
        <i class='bx bx-menu'></i>
    </div>
    <div class="side-nav">
        <div class="logout-div">
            <div class="sub-logout" id="sub-logout" onmouseover="changeColor(true)" onmouseout="changeColor(false)" onclick="logout()">
                <i class='bx bx-log-out' ></i>
                <p id="exit"></p>
            </div>
        </div>
        <div class="profile-img">
            <div id="welcome"></div>
        </div>
        <div class="myCalendar" id="myCalendar" onmouseover="changeColorOfCalendar(true)" onmouseout="changeColorOfCalendar(false)">
            <i class='bx bx-calendar'></i>
            <p id="my-calendar"></p>
        </div>

        <div class="tree-view"></div>
    </div>
<div class="calendarAndVersion">
    <div class="calendar-div">
        <div class="calendarAndColorLegend">
            <div class="wrapper">
                <header>
                    <div class="icons"><span id="prev" class="material-symbols-outlined">chevron_left</span></div>
                    <p class="current-month"></p>
                    <div class="icons"><span id="next" class="material-symbols-outlined">chevron_right</span></div>
                </header>
                <div class="calendar">
                    <ul class="weeks">
                        <li id="mon"></li>
                        <li id="tue"></li>
                        <li id="wed"></li>
                        <li id="thu"></li>
                        <li id="fri"></li>
                        <li id="sat"></li>
                        <li id="sun"></li>
                    </ul>
                    <ul class="days"></ul>
                </div>
                
            </div>
            <div class="color-legend">
                <ul class="colors-ul"></ul>
            </div>
        </div>
            <div class="form-container"> 
                <div class="info-text">
                    <i class='bx bx-info-circle'></i>
                    <p></p>
                </div>
                <div class="show-data">
                    <form class="absence_data">
                            <h3 id="show-data-text"></h3>
                        <label for="absence_type" id="reason"></label>
                        <div class="absence_select">
                            <span class="absence_type"></span>
                            <ul class="absences_list">
                            </ul>
                        </div>
                        <label for="absence_start" id="start"></label>
                        <input type="text" name="absence_start" id="absence_start"> 
                        <label for="absence_end" id="end"></label>
                        <input type="text" name="absence_end" id="absence_end">
                        <div class="value-div">
                            <label for="absence_value" id="overtime"></label>
                            <input type="number" name="absence_value" id="absence_value" min="1" max="8">
                        </div>
                        <div class="notes-div">
                            <label for="notes" id="notes_label"></label>
                            <textarea type="text" name="notes" id="notes" readonly></textarea>
                        </div>
                        <div class="errortxt">
                            <i class="fa fa-exclamation"></i>
                            <p></p>
                        </div>
                        <button class="update-btn" type="button" id="update-btn"></button>
                    </form>
                </div>
                
            <div class="add-data">
                <form class="date-form">
                    <label for="absences" id="add_type"><span>*</span></label>
                    <div class="custom-select">
                        <span class="selected-option"></span>
                        <ul class="options">
                        <!-- Options are dynamically generated by JavaScript -->
                        </ul>
                    </div>
                    <label for="start-date" id="add_start"></label>
                    <input type="text" name="start-date" id="start-date" readonly required>
                    <label for="end-date" id="add_end"></label>
                    <input type="text" name="end-date" id="end-date" readonly required>
                    <div class="enter-value">
                        <label for="absence_value" id="add_overtime"></label>
                        <input type="number" name="value" id="value" min="1" max="8">
                    </div>
                    <label for="add-note" id="add_note"></label>
                    <textarea id="add-note" name="add-note" rows="4" cols="50"></textarea>
                    <div class="error">
                        <i class="fa fa-exclamation"></i>
                        <p></p>
                    </div>
                    <button class="save-btn" type="button" id="save-btn"></button>
                </form>
            </div>
                
                <div class="buttons-div">
                    <button class="add-btn" type="button" id="add-btn"></button> 
                    <button class="edit-btn" type="button" id="edit-btn"></button> 
                    
                    <button class="delete-btn" type="button" id="delete-btn"></button>
                    <button class="delete-absence-btn" type="button" id="delete-absence-btn"></button>
                </div>
                
            </div>
            
    </div>
    <div class="version-div">
        <p id="front-v">Front v1.3</p>
        <p id="back-v">Back v1.3</p>
    </div>
</div>
</body>
</html>